<ul class="nav nav-tabs" *ngIf="chatList$ | async; let list">
  <li class="nav-item" *ngFor="let chatName of list">
    <a class="nav-link" (click)="changeChat(chatName)" [ngClass]="{ active: currentTab === chatName }">
      {{ chatName }}
      <span *ngIf="getNewMessageCount(chatName)" class="my-own-badge">{{ getNewMessageCount(chatName) }}</span>
    </a>
  </li>
</ul>
<div #chat class="messages-container" (scroll)="chatScrolled()">
  <div class="flex-container scroll-actions">
    <a class="nav-link scroll-btn" (click)="loadPrevious()">Previous {{ defaultPageSize }}...</a>
    <div class="input-group scroll-btn-container">
      <a class="input-group-text nav-link scroll-btn" (click)="goToDate()">Scroll to...</a>
      <input type="date" class="form-control scroll-btn" [(ngModel)]="scrollToDate">
    </div>
  </div>
  <app-chat-message
    *ngFor="let message of (messages$ | async)"
    [message]="message"
    [ngClass]="{ highlighted: highlightMessageId === message.id}"
    (removed)="removeMessage($event)"
  ></app-chat-message>
  <div class="scroll-down cursor-pointer" *ngIf="showScrollDown" (click)="scrollDown()">
    <i class="icon bi bi-chevron-down"></i>
  </div>
</div>
<div class="message-to-reply" *ngIf="messageToReply.length">
  <span *ngFor="let m of messageToReply">
    <span class="cursor-pointer" (click)="scrollToMessage(m.id)">{{ m.preview }}</span>
    <i class="icon bi bi-x-lg" (click)="removeReply(m)"></i>
  </span>
</div>
<app-message-input [(ngModel)]="lastMessage"
                  (submitted)="submit($event)">
</app-message-input>
