<ul class="nav nav-tabs" *ngIf="chatList">
  <li class="nav-item" *ngFor="let chat of chatList; index as i">
      <a class="nav-link" (click)="changeChat(i)" [ngClass]="{ active: getIsActiveTab(i) }">
        {{ chat.chatName }}
        <span *ngIf="newMessagesCount?.has(chat.id) && !!newMessagesCount.get(chat.id)" class="my-own-badge">{{ newMessagesCount.get(chat.id) }}</span>
        <i class="cursor-pointer icon bi bi-x-lg" *ngIf="i > 0" (click)="closeChat(chat.id)"></i>
      </a>
  </li>
</ul>
<div #chat class="messages-container" (scroll)="chatScrolled()">
  <div class="flex-container scroll-actions">
    <a class="nav-link scroll-btn" (click)="loadPrevious()">Previous {{ defaultPageSize }}...</a>
    <div class="input-group scroll-btn-container">
      <a class="input-group-text nav-link scroll-btn" (click)="goToDate()">Go to...</a>
      <input type="date" class="form-control scroll-btn" [(ngModel)]="scrollToDate">
    </div>
  </div>
  <app-chat-message
    *ngFor="let message of (messages$ | async); trackBy: messageTrackByFn"
    [message]="message"
    [ngClass]="{ highlighted: highlightMessageId === message.id }"
    (removed)="removeMessage($event)"
    (openPrivateChat)="openPrivateChat($event)"
  ></app-chat-message>
</div>
<div class="message-to-reply" *ngIf="messageToReply.length">
  <span *ngFor="let m of messageToReply">
    <span class="cursor-pointer" (click)="scrollToMessage(m.id)">{{ m.preview }}</span>
    <i class="icon bi bi-x-lg" (click)="removeReply(m)"></i>
  </span>
</div>
<div class="bottom">
  <app-message-input [(ngModel)]="lastMessage"
    [canAddImage]="true"
    (submitted)="submit($event)"
    (addImageEvent)="addImage()">
  </app-message-input>
  <span class="scroll-down cursor-pointer" *ngIf="showScrollDown" (click)="scrollDown()"><i class="icon bi bi-chevron-down"></i></span>
</div>
<app-simple-dialog #addImageDialog [dialogTitle]="'Chose image'">
  <div class="image-select">
    <img class="image-select__preview" *ngFor="let meme of memeList$ | async" [src]="getSrcFromImage(meme.image)" (click)="submitMeme(meme)">
  </div>
</app-simple-dialog>
