@import "variables";

textarea {
  max-height: 200px;
}

.scroll-actions {
  gap: 8px;
}

.scroll-btn {
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: $base-grey;
  cursor: pointer;
}

.scroll-btn-container {
  flex: 0 1 fit-content;;

  display: flex;
  flex-direction: row;

  input {
    flex: 0 1 fit-content;
  }
}

.message-to-reply {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 8px;

  border-left: 2px solid $base-grey;
  padding: 0 8px;
  margin: 8px;
  font-size: smaller;
  color: $base-grey;

  > span {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 8px;

    i {
      cursor: pointer;
      font-size: smaller;
      color: brown;
    }
  }
}

.highlighted {
  background-color: $highlight;
}

.bottom {
  position: relative;
}

.scroll-down {
  position: absolute;
  z-index: 10;
  top: -20%;
  left: 90%;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;

  border-radius: 50%;
  background-color: $highlight;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
