.message-container {
  display: flex;
  flex-direction: row;
  margin: 2px;
}

.message {
  flex: 0 1 fit-content;
  position: relative;

  width: fit-content;
  height: fit-content;
  max-width: 100%;

  border-radius: 8px;
  border: 1px solid rgb(194, 194, 194);

  padding: 2px 5px;

  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: hidden;

  p {
    margin: 0;
  }
}

.avatar {
  flex: 0 1;
  width: 50px;
  height: 50px;

  margin-right: 5px;
}

.author-is-current-user {
  justify-content: flex-end;
  .message {
    background-color: rgb(194, 194, 194);
  }
}

.sign {
  font-size: smaller;
  color: grey;
}

.remove-icon {
  font-size: 10px;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 5px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transition: opacity 0.25s linear;
}

.remove-icon:hover {
  background-color: rgb(160, 160, 160);
  border-radius: 50%;

  opacity: 1;
}
