<div *ngIf="!message.isSeparator" class="message-container" [ngClass]="{ 'author-is-current-user': isCurrentUserAuthor }">
  <img [src]="avatarImageSource" class="avatar">
  <div class="message">
    <span class="action-icons" *ngIf="config.editable">
      <span class="action-icons__item" *ngIf="canAlterMessage"><i class="icon bi bi-pencil-fill" (click)="edit()"></i></span>
      <span class="action-icons__item" *ngIf="canAlterMessage"><i class="icon bi bi-x-lg" (click)="remove()"></i></span>
      <span class="action-icons__item"><i class="icon bi bi-reply-fill" (click)="reply()"></i></span>
    </span>
    <div class="replied-messages" *ngIf="message.repliedMessages?.length">
      <p class="replied-messages__item cursor-pointer" *ngFor="let m of message.repliedMessages"
         (click)="scrollToMessage(m)">> {{ m.preview }}</p>
    </div>
    <div *ngIf="!isMeme" (mouseover)="showDiff()" (mouseout)="hideDiff()">
      <div *ngIf="!isDiffShow" [innerHTML]="safeText"></div>
      <div *ngIf="isDiffShow && isMessageEdited">
        <div class="old-text" [innerHTML]="message.oldText"></div>
        <div class="new-text" [innerHTML]="message.text"></div>
      </div>
    </div>
    <ng-container *ngIf="isMeme">
      <img [src]="memeImageSource" class="meme">
      <div>{{ message.memeName }}</div>
    </ng-container>
    <p class="sign">
      <span class="user-status" [ngClass]="{ 'user-online': isOnline }"></span>
      <span *ngIf="config.canSendPrivate" class="user-name" (click)="emitOpenPrivateChat()">{{ message.author.username }}</span>
      <span *ngIf="!config.canSendPrivate">{{ message.author.username }}</span>
      <span *ngIf="isMessageEdited">, edited</span>
      <span *ngIf="isToday">{{ message.date | date: 'HH:mm' }}</span>
      <span *ngIf="!isToday">{{ message.date | date: 'dd.MM.yy HH:mm' }}</span>
    </p>
  </div>
</div>
<div *ngIf="message.isSeparator" class="flex-container">{{ message.date | date: 'dd.MM.yy' }}</div>
