.message-container {
  display: flex;
  flex-direction: row;
  margin: 2px;
}

.message {
  flex: 0 1 fit-content;
  position: relative;

  width: fit-content;
  height: fit-content;
  max-width: 100%;

  border-radius: 8px;
  border: 1px solid rgb(194, 194, 194);

  padding: 2px 5px;

  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: hidden;

  p {
    margin: 0;
  }
}

.avatar {
  flex: 0 1;
  width: 50px;
  height: 50px;

  margin-right: 5px;
}

.author-is-current-user {
  justify-content: flex-end;
  .message {
    background-color: rgb(194, 194, 194);
  }
}

.sign {
  font-size: smaller;
  color: grey;
  display: inline-flex;
  align-items: center;
}

.user-status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(139, 63, 63);
  margin-right: 2px;
}

.user-online {
  background-color: rgb(63, 139, 73);
}

// Action icon bar

.action-icons {
  font-size: 10px;
  width: 35px;
  height: 15px;
  position: absolute;
  right: 5px;

  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}

.message-container:hover .action-icons {
  opacity: 1;
}

.action-icons {
  opacity: 0;
  transition: opacity 0.25s linear;
}
