<div *ngIf="!message.isSeparator" class="message-container" [ngClass]="{ 'author-is-current-user': isCurrentUserAuthor }">
  <img *ngIf="!isCurrentUserAuthor"
       [src]="imageSource"
       class="avatar">
  <div class="message" *ngIf="!editMode" (mouseover)="showDiff()" (mouseout)="hideDiff()">
    <span class="action-icons" *ngIf="config.editable">
      <span class="action-icons__item" *ngIf="canAlterMessage"><i class="icon bi bi-pencil-fill" (click)="toggleEdit()"></i></span>
      <span class="action-icons__item" *ngIf="canAlterMessage"><i class="icon bi bi-x-lg" (click)="remove()"></i></span>
      <span class="action-icons__item"><i class="icon bi bi-reply-fill" (click)="reply()"></i></span>
    </span>
    <div class="replied-messages" *ngIf="message.repliedMessages?.length">
      <p class="replied-messages__item cursor-pointer" *ngFor="let m of message.repliedMessages"
         (click)="scrollToMessage(m)">> {{ m.preview }}</p>
    </div>
    <div *ngIf="!isDiffShow" [innerHTML]="safeText"></div>
    <div *ngIf="isDiffShow && isMessageEdited" [innerHTML]="messageDiff"></div>
    <p class="sign">
      <span class="user-status" [ngClass]="{ 'user-online': isOnline }"></span>
      <span *ngIf="config.canSendPrivate" class="user-name" (click)="openPopup()">{{ message.author.username }}</span>
      <span *ngIf="!config.canSendPrivate">{{ message.author.username }}</span>
      <span *ngIf="isMessageEdited">, edited</span>
      <span *ngIf="isToday">{{ message.date | date: 'HH:mm' }}</span>
      <span *ngIf="!isToday">{{ message.date | date: 'dd.MM.yy HH:mm' }}</span>
    </p>
  </div>
  <div class="message" *ngIf="editMode">
    <app-message-input
      [initialText]="message.text"
      [showCancelBtn]="true"
      (submitted)="submit($event)"
      (cancelEvent)="toggleEdit()"
    ></app-message-input>
  </div>
</div>
<div *ngIf="message.isSeparator" class="flex-container">{{ message.date | date: 'dd.MM.yy' }}</div>
<app-simple-dialog *ngIf="config.canSendPrivate" [dialogTitle]="'Send to user ' + message.author.username">
  <app-message-input
      [initialText]="message.text"
      (submitted)="submitToUser($event)"
  ></app-message-input>
</app-simple-dialog>
