<form class="row g-3" [formGroup]="form" (ngSubmit)="login()">
  <div class="col-md-4 has-validation">
    <input type="text" class="form-control" placeholder="Username" formControlName="username" required="true">
    <input type="password" class="form-control" placeholder="Password" formControlName="password" required="true">
  </div>

  <div class="col-12">
    <button class="btn btn-primary" type="submit">Login</button>
  </div>

  <div class="col-md-4 alert alert-danger" role="alert" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>
</form>
