html, body {
    height: 100%;
    font-family: 'Mono';
  }

  body {
    background: #3f3b3a;
  }


body {
    height: 100%;
}

.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    // height: 100%;
    > * {
        max-width: 600px;
        width: 100%;
    }
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.cursor-pointer {
  cursor: pointer;
}

.messages-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 500px;
  max-height: 500px;

  border: 1px solid rgb(180, 180, 180);
  border-radius: 5px;

  margin-bottom: 8px;
  padding: 5px;

  overflow-y: auto;
  overflow-x: hidden;
}

.my-own-badge {
  display: inline-flex;
  justify-content: center;
  align-items:center;
  color:white;
  background-color: cadetblue;
  border-radius: 3px;
  font-size: smaller;
  width: 12px;
  height: 12px;
}
