<div class="item">
  <h4>Current user</h4>
  <div class="row">
    <div class="col-sm list-item">
      <p>Username</p>
      <p>{{ username }}</p>
    </div>
    <div class="col-sm list-item">
      <p>Roles</p>
      <p>{{ userRoles }}</p>
    </div>
  </div>
</div>

<form class="item row g-3" [formGroup]="userAvatarForm" (ngSubmit)="submitAvatar()">
  <h4>User avatar</h4>
  <div class="col-6">
    <img class="image-preview" [src]="userAvatarForm.get('image').value">
  </div>

  <div class="col-6">
    <input type="file" accept="image/*" (change)="changeFile($event, setUserAvatar)">
  </div>

  <div class="col-12">
    <button class="btn btn-primary" type="submit">Change</button>
  </div>
</form>

<form *ngIf="showChangeUserPasswordForm" class="item row g-3" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
  <h4>Change password</h4>
  <div class="col-12 has-validation">
    <input type="password" class="form-control" placeholder="Current password" formControlName="oldPassword" required="true">
    <input type="password" class="form-control" placeholder="New password" formControlName="newPassword" required="true">
  </div>

  <div class="col-12">
    <button class="btn btn-primary" type="submit">Change password</button>
  </div>

  <div class="col-md-4 alert alert-danger" role="alert" *ngIf="changePasswordErrorMsg">
    {{ changePasswordErrorMsg }}
  </div>
</form>

<div class="item" *ngIf="canUploadImage">
  <h4>Add meme</h4>
  <form class="row" [formGroup]="uploadImageForm" (ngSubmit)="submitImage()">
    <div class="col">
      <input type="file" accept="image/*" (change)="changeFile($event, setSelectedImage)" required="true">
    </div>
    <div class="col">
      <input type="text" class="form-control-file" placeholder="image name" formControlName="name" required="true"/>
    </div>
    <div class="col">
      <button class="btn btn-primary" type="submit">Upload meme</button>
    </div>
    <div class="container row">
      <div class="col-md-12">
        <img class="image-preview" [src]="uploadImageForm.get('image').value">
      </div>
    </div>
  </form>
</div>
