<div class="list-item">
  <p>Username</p>
  <p>{{ username }}</p>
</div>
<div class="list-item">
  <p>Roles</p>
  <p>{{ userRoles }}</p>
</div>

<form *ngIf="showChangeUserPasswordForm" class="row g-3" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
  <div class="col-12 has-validation">
    <input type="password" class="form-control" placeholder="Current password" formControlName="oldPassword" required="true">
    <input type="password" class="form-control" placeholder="New password" formControlName="newPassword" required="true">
  </div>

  <div class="col-12">
    <button class="btn btn-primary" type="submit">Change password</button>
  </div>

  <div class="col-md-4 alert alert-danger" role="alert" *ngIf="changePasswordErrorMsg">
    {{ changePasswordErrorMsg }}
  </div>
</form>

<div class="container row">
    <div class="col-md-6">
        <input type="file" (change)="onFileChanged($event)">
    </div>

    <div class="col-md-6">
        <input type="button" (click)="onUpload()" value="upload">
    </div>
</div>

<div class="container row">
  <div class="col-md-6">
    <input type="text" class="form-control" id="name" placeholder="image name" [(ngModel)]="imageName"
            name="name" />
      </div>
      <div class="col-md-6">
          <input type="button" (click)="getImage()" value="Get Image">
      </div>
  </div>

<div class="container row">
    <div class="col-md-12">
        <div *ngIf=retrievedImage>
            <img [src]="retrievedImage">
        </div>
    </div>
</div>
