.messages-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 500px;
  max-height: 500px;

  border: 1px solid rgb(180, 180, 180);
  border-radius: 5px;

  margin-bottom: 8px;
  padding: 5px;

  overflow-y: auto;
  overflow-x: hidden;
}

textarea {
  max-height: 200px;
}
