<div class="message-container">
  <div *ngFor="let item of messages" class="message">
    <p>{{ item.text }}</p>
    <p class="sign">{{ item.authorId }}, {{ item.date | date: 'HH:mm' }}</p>
  </div>
</div>
<form class="row g-3" [formGroup]="form" (ngSubmit)="submit()">
  <div class="col-12">
    <textarea type="text" class="form-control" formControlName="message" required="true"></textarea>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Send</button>
  </div>
</form>
