<nav class="navbar navbar-expand-sm bg-light justify-content-between">
  <a class="navbar-brand" (click)="navigateTo('/')">Home</a>
  <ul class="navbar-nav nav-pills">
    <li class="nav-item" *ngFor="let i of menuItems">
      <a class="nav-link" (click)="navigateTo(i.route)">{{ i.name }}</a>
    </li>
    <li class="nav-item active" *ngIf="isAuth" [title]="currentUserName">
      <a class="nav-link" (click)="logout()">Logout</a>
    </li>
  </ul>
</nav>
<div class="main-container">
  <div class="item">
    <h1 *ngIf="isMainPage">Main page</h1>
    <p *ngIf="isMainPage">
      {{ textPlaceholder }}
    </p>
  </div>
  <div class="item">
    <router-outlet></router-outlet>
  </div>
</div>

