.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  .item {
    max-width: 800px;
    width: 100%;
    height: 100%;
  }
}

.navbar {
  padding: 8px;

  a {
    cursor: pointer;
  }
}

.menu-selected-item {
  text-decoration: underline;
}
